{% extends "layout.html" %}

{% block title %}
    Diary Entries
{% endblock %}

{% block main %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>diary</title>
    </head>

    <body class="background">
        <header><h1 style="text-align:center">diary entries</h1></header>
        <br>
            <table class="styled-table">

                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Entry Title</th>
                        <th>Entry</th>
                    </tr>
                </thead>

                <tbody>
                    {% for e in entrieslog %}
                        <tr>
                            <td>{{ e["time"] }}</td>
                            <td>{{ e["entrytitle"] }}</td>
                            <td>{{ e["entry"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
    </body>

</html>
{% endblock %}