{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Links to relevant Boostrap and CSS files. -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <link href="styles.css" rel="stylesheet">
        <title>Homepage</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script>
    function startTime() {
        const today = new Date();
        let h = today.getHours();
        let m = today.getMinutes();
        let s = today.getSeconds();
        
        if (h >= 13){
            h = h - 12;
        }
        
        if (h == 0){
            h = h + 12;
        }
        
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =  h + ":" + m + ":" + s;
        setTimeout(startTime, 1000);
    }

    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }

    const numImagesAvailable = 982  //how many photos are total in the collection
    const numItemsToGenerate = 1; //how many photos you want to display
    const collectionID = 1155333   //the collection ID from the original url
    const galleryContainer = document.querySelector('.gallery-container')
    function renderGalleryItem(randomNumber){
    fetch(`https://source.unsplash.com/collection/${collectionID}/?sig=${randomNumber}`)
        .then((response) => {
        console.log(response.url)
        document.body.style.backgroundImage = `url(${response.url})`;
        document.body.style.backgroundRepeat = "no-repeat"
        document.body.style.backgroundPosition = "top center"
        document.body.style.backgroundSize = "cover"
        })
    }
    for(let i=0; i < numItemsToGenerate; i++){
        let randomImageIndex = Math.floor(Math.random() * numImagesAvailable);
    renderGalleryItem(randomImageIndex);
    }

    function quote(){
        // creates inspirational quotes
        let quotes = [];
        quotes.push("Write it. Shoot it. Publish it. Crochet it, sauté it, whatever. MAKE. – Joss Whedon");
        quotes.push("It’s no use going back to yesterday, because I was a different person then. ― Lewis Carroll");
        quotes.push("Do what you feel in your heart to be right – for you’ll be criticized anyway. ― Eleanor Roosevelt");
        quotes.push("Happiness is not something ready made. It comes from your own actions. ― Dalai Lama XIV");
        quotes.push("People who wonder if the glass is half empty or full miss the point. The glass is refillable. – Unknown");
        quotes.push("I now tried a new hypothesis: It was possible that I was more in charge of my happiness than I was allowing myself to be. – Michelle Obama");
        quotes.push("You can waste your lives drawing lines. Or you can live your life crossing them. – Shonda Rhimes");
        quotes.push("Work hard in silence, let your success be the noise. – Frank Ocean");
        quotes.push("Work hard, be kind, and amazing things will happen. – Conan O’Brien");

        // Uses a random number generator to get a random quote from the array
        let random_quote = quotes[Math.floor(Math.random()*quotes.length)];
        document.getElementById("quote").innerHTML = random_quote;
    };
    </script>

    <style>
        .gallery-container {
        width: 100vw;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
        }

        .gallery-item {
        width: 1280px;
        height: 1280px;
        padding: 10px;
        background-color: white;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
        margin: 10px;
        }
        
        .box-transparent {
        background-color: rgba(255,255,255, 0.6);
        padding: 20px;
        border-radius: 25px;
        }
    </style>
    </head>

    <div class="gallery-container"></div>

    <body onload="startTime()" style="text-align:center">
        <div class="content">
            <div id="txt" class="clock"></div>
            <br>
            <div class="box-transparent">
                    <h4 style="text-align:center">Have a great day!</h4>
                    <button class="button" id="quote" onclick="quote()">Here's your daily inspirational quote.</button>
            </div>

            <!-- weather widget start -->
            <a target="_blank" href="https://www.booked.net/weather/cambridge-3259">
                <img src="https://w.bookcdn.com/weather/picture/21_3259_0_1_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=w209&anc_id=99912"  alt="booked.net"/>
            </a><!-- weather widget end -->

        </div>
    </body>
</html>

{% endblock %}