{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Homepage</title>
    
    <script>
    
    /* Creates the clock feature */
    function startTime() {
        const today = new Date();
        let h = today.getHours();
        let m = today.getMinutes();
        let s = today.getSeconds();
        
        /* Corrects to make it non-military time */
        if (h >= 13){
            h = h - 12;
        }
        
        if (h == 0){
            h = h + 12;
        }
        
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =  h + ":" + m + ":" + s;
        setTimeout(startTime, 1000);
    }

    function checkTime(i) {
        /* Add zero in front of numbers < 10 */
        if (i < 10) {i = "0" + i};
        return i;
    }

    /* How many photos are total in the collection */
    const numImagesAvailable = 982

    /* How many photos you want to display */
    const numItemsToGenerate = 1;

    /* The collection ID from the original url */
    const collectionID = 1155333

    const galleryContainer = document.querySelector('.gallery-container')
    function renderGalleryItem(randomNumber){
    fetch(`https://source.unsplash.com/collection/${collectionID}/?sig=${randomNumber}`)
        .then((response) => {
        console.log(response.url)
        document.body.style.backgroundImage = `url(${response.url})`;
        document.body.style.backgroundRepeat = "no-repeat"
        document.body.style.backgroundPosition = "top center"
        document.body.style.backgroundSize = "cover"
        })
    }

    for(let i=0; i < numItemsToGenerate; i++){
        let randomImageIndex = Math.floor(Math.random() * numImagesAvailable);
    renderGalleryItem(randomImageIndex);
    }

    /* Creates an inspiration quote */
    function quote(){
        let quotes = [];
        quotes.push("Write it. Shoot it. Publish it. Crochet it, sauté it, whatever. MAKE. – Joss Whedon");
        quotes.push("It’s no use going back to yesterday, because I was a different person then. ― Lewis Carroll");
        quotes.push("Do what you feel in your heart to be right – for you’ll be criticized anyway. ― Eleanor Roosevelt");
        quotes.push("Happiness is not something ready made. It comes from your own actions. ― Dalai Lama XIV");
        quotes.push("People who wonder if the glass is half empty or full miss the point. The glass is refillable. – Unknown");
        quotes.push("I now tried a new hypothesis: It was possible that I was more in charge of my happiness than I was allowing myself to be. – Michelle Obama");
        quotes.push("You can waste your lives drawing lines. Or you can live your life crossing them. – Shonda Rhimes");
        quotes.push("Work hard in silence, let your success be the noise. – Frank Ocean");
        quotes.push("Work hard, be kind, and amazing things will happen. – Conan O’Brien");

        /* Uses a random number generator to get a random quote from the array */
        let random_quote = quotes[Math.floor(Math.random()*quotes.length)];
        document.getElementById("quote").innerHTML = random_quote;
    };
    </script>

    <!-- Styles for our mainpage -->
    <style>
        .gallery-container {
        width: 100vw;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
        }

        .gallery-item {
        width: 1280px;
        height: 1280px;
        padding: 10px;
        background-color: white;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
        margin: 10px;
        }
        
        .box-transparent {
        background-color: rgba(255,255,255, 0.6);
        padding: 20px;
        border-radius: 25px;
        }
    </style>
    </head>

    <div class="gallery-container"></div>

    <!-- Load functions that create the clock -->
    <body onload="startTime()" style="text-align:center">
        <div class="content">
            
            <!-- Create the clock -->
            <div id="txt" class="clock"></div>
            <br>
            <div class="box-transparent">
                <h4 style="text-align:center">Have a great day!</h4>

                <!-- Create the quote generator button -->
                <button class="button" id="quote" onclick="quote()">Here's your daily inspirational quote.</button>
                <br>
                <br>

                <!-- Upload the weather fidget -->
                <h4 style="text-align:center">Weather:</h4>
                <a target="_blank" href="https://www.booked.net/weather/cambridge-3259">
                    <img src="https://w.bookcdn.com/weather/picture/26_3259_0_1_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=w209&anc_id=94744"  alt="booked.net"/>
                </a>
            </div>
        </div>
    </body>
</html>

{% endblock %}