{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Links to relevant Boostrap and CSS files. -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <link href="styles.css" rel="stylesheet">
        <title>Homepage</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script>
    function startTime() {
        const today = new Date();
        let h = today.getHours();
        let m = today.getMinutes();
        let s = today.getSeconds();
        
        if (h > 13){
            h = h - 12;
        }
        
        if (h == 0){
            h = h + 12;
        }
        
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =  h + ":" + m + ":" + s;
        setTimeout(startTime, 1000);
    }

    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }

    const numImagesAvailable = 988  //how many photos are total in the collection
    const numItemsToGenerate = 20; //how many photos you want to display
    const imageWidth = 480;    //image width in pixels
    const imageHeight = 480;   //image height in pixels
    const collectionID = 928423  //Beach & Coastal, the collection ID from the original url
    const galleryContainer = document.querySelector('.gallery-container')
    function renderGalleryItem(randomNumber){
        fetch(`https://source.unsplash.com/collection/${collectionID}/${imageWidth}x${imageHeight}/?sig=${randomNumber}`)
        .then((response) => {
            let galleryItem = document.createElement('span');
            galleryItem.classList.add('gallery-item');
            galleryItem.innerHTML = `<img class="gallery-image" src="${response.url}" alt="gallery image"/>`
            galleryContainer.append(galleryItem);
            })
            }
            for(let i=0; i < numItemsToGenerate; i++){
                let randomImageIndex = Math.floor(Math.random() * numImagesAvailable);
                renderGalleryItem(randomImageIndex);
                }
    </script>
    </head>

    <div class="gallery-container"></div>

    <body onload="startTime()" style="text-align:center">
        <div class="content">
        <div id="txt" class="clock"></div>
        <br>
        <h4 style="text-align:center" >Have a great day!</h4>
        </div>
    </body>
</html>

{% endblock %}
