{% extends "layout.html" %}

{% block title %}
    Quiz
{% endblock %}

{% block main %}
    <p>The emotions you logged most recently are: {{ emotion_string }}</p>

    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Emotions</th>
            </tr>
        </thead>

        <tbody>
            {% for e in emotions %}
            <tr>
                <td>{{ e[["time"]] }}</td>
                <td>{{ e[["emotionlist"]] }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}