{% extends "layout.html" %}

{% block title %}
    Quiz
{% endblock %}

{% block main %}

    <h1>Log emotions you experienced today. Check all that apply!</h1>

    <form action="/quiz" method="post">
      <input type="checkbox" id="calm" name="calm">
      <label for="calm"> Calm</label><br>
      <input type="checkbox" id="stressed" name="stressed">
      <label for="stressed"> Stressed</label><br>
      <input type="checkbox" id="motivated" name="motivated">
      <label for="motivated"> Motivated</label><br><br>
      <input type="submit" value="Submit">
    </form>

{% endblock %}