{% extends "layout.html" %}

{% block title %}
    Diary Entries
{% endblock %}

{% block main %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Suggestions</title>
    </head>

    <body>
        <header><h1 style="text-align:center">suggestions</h1></header>
        <br>
        <div align="left" class="box-transparent">
            <p>Based on your quiz results, we encourage you to do the following:</p>
            <ul>
                <li>Get more sleep!</li>
                    <ul>
                        <li>Be consistent. Go to bed at the same time each night and get up at the same time each morning, including on the weekends.</li>
                        <li>Make sure your bedroom is quiet, dark, relaxing, and at a comfortable temperature.</li>
                        <li>Remove electronic devices, such as TVs, computers, and smart phones, from the bedroom.</li>
                        <li>Avoid large meals, caffeine, and alcohol before bedtime.</li>
                    </ul>
                <li>Try to exercise more!</li>
                    <ul>
                        <li>Aim for at least 150 minutes per week of moderate-intensity aerobic activity.</li>
                        <li>Do 10 minutes of physical activity at a time. Spread bursts of activity throughout your day.</li>
                        <li>Create a list of the activities you would like to do, such as walking, aerobics, tennis, wheelchair basketball, or taking a class at a fitness or community center.</li>
                        <li>Add a 15-minute walk or activity that you will stick with during your lunch break or after dinner.</li>
                        <li>Make activity part of your daily routine.</li>
                    </ul>
                <li>Relieve your stress...</li>
                    <ul>
                        <li>Keep a positive attitude.</li>
                        <li>Accept that there are events that you cannot control.</li>
                        <li>Be assertive instead of aggressive. Assert your feelings, opinions, or beliefs instead of becoming angry, defensive, or passive.</li>
                        <li>Learn to manage your time more effectively.</li>
                        <li>Set limits appropriately and say no to requests that would create excessive stress in your life.</li>
                        <li>Make time for hobbies and interests.</li>
                        <li>Seek out social support. Spend enough time with those you love.</li>
                    </ul>
                <li>Be happy.</li>
                    <ul>
                        <li>Find joy in the little things.</li>
                        <li>Start each day with a smile.</li>
                        <li>Connect with others.</li>
                        <li>Do what you're most passionate about.</li>
                        <li>Reflect on your blessings and be grateful.</li>
                        <li>Choose to be positive and see the best in every situation.</li>
                    </ul>
            </ul>
        </div>
    </body>

</html>
{% endblock %}