{% extends "layout.html" %}

{% block title %}
    Diary Entries
{% endblock %}

{% block main %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Suggestions</title>
    </head>

    <body>
        <header><h1 style="text-align:center">suggestions</h1></header>
        <br>
        <p>Based on your quiz results, we encourage you to do the following:</p>
        <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
          </ul>
    </body>

</html>
{% endblock %}