{% extends "layout.html" %}

{% block title %}
    Visualizations
{% endblock %}

{% block main %}
    <body class="background">

        <header><h1 style="text-align:center">How have you been feeling?</h1></header>
        <br>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Emotions</th>
                    <th># of Emotions Logged</th>
                    <th>Stress Level</th>
                    <th>Happiness Level</th>
                </tr>
            </thead>

            <tbody>
                {% for e in emotionlog %}
                <tr>
                    <td>{{ e["time"] }}</td>
                    <td>{{ e["emotionlist"] }}</td>
                    <td>{{ string_word_count(e["emotionlist"]) }}</td>
                    <td>{{ e["stress_slider"] }}</td>
                    <td>{{ e["happiness_slider"] }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </body>
{% endblock %}