{% extends "layout.html" %}

{% block title %}
    Visualizations
{% endblock %}

{% block main %}
    <header><h1 style="text-align:center">how have you been feeling?</h1></header>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Emotions</th>
                <th>Number of Emotions Logged</th>
            </tr>
        </thead>

        <tbody>
            {% for e in emotionlog %}
            <tr>
                <td>{{ e["time"] }}</td>
                <td>{{ e["emotionlist"] }}</td>
                <th>{{ string_word_count(e["emotionlist"]) }}</th>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}