{% extends "layout.html" %}

{% block title %}
    Visualizations
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Emotions</th>
                <th>Number of Emotions Logged</th>
            </tr>
        </thead>

        <tbody>
            {% for e in emotionlog %}
            <tr>
                <td>{{ e["time"] }}</td>
                <td>{{ e["emotionlist"] }}</td>
                <th>{{ len(e["emotionlist"]) }}</th>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}